﻿@model AppAprobacionOrdenes.Models.Orden_Compra


@{
    ViewBag.Title = "ViewDetails";
}

<h2>Emasal </h2>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ORDEN_COMPRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDEN_COMPRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROVEEDOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOTAL_MERCADERIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL_MERCADERIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONEDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONEDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTAMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.USUARIO_APROBO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO_APROBO)
        </dd>
        @if(Model.ESTADO=="POR APROBAR")
        {
        @Html.ActionLink("Aprobar", "Aprobar", new { pais = Model.PAIS, oc = Model.ORDEN_COMPRA }) <br>
    @Html.ActionLink("Rechazar", "Rechazar", new { pais = Model.PAIS, oc = Model.ORDEN_COMPRA })
    }

</dl>
</div>


<table class="table">
    <tr>
        <th>
          Pais
        </th>
        <th>
            Orden de Compra
        </th>
        <th>
            Linea 
        </th>
        <th>
            Articulo
        </th>
        <th>
            Bodega
        </th>
        <th>
           Descripcion
        </th>
        <th>
           Cantidad Ordenada
        </th>
        <th>
            Precio Unitario
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.LineasdeOrdenes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PAIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORDEN_COMPRA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORDEN_COMPRA_LINEA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ARTICULO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BODEGA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CANTIDAD_ORDENADA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRECIO_UNITARIO)
            </td>

        </tr>
    }

</table>