﻿@model AppAprobacionOrdenes.Models.Orden_Compra

@{
    ViewBag.Title = "Rechazar";
}

<h2>Rechazar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Orden_Compra</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div hidden="hidden">
        <input class="input1" type="text" name="pais" value=@Html.DisplayFor(model => model.PAIS)>
        <span class="shadow-input1"></span>
    </div>
    <div hidden="hidden">
        <input class="input1" type="text" name="oc" value=@Html.DisplayFor(model => model.ORDEN_COMPRA)>
        <span class="shadow-input1"></span>
    </div>
    <div>
        <textarea class="input1" name="message" placeholder="Razon"></textarea>
        <span class="shadow-input1"></span>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
